<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title 'Little TODO' %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="p-1 p-lg-3 mb-3 border-bottom">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-auto justify-content-center text-small">
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_home') }}" class="nav-link link-body-emphasis">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                </ul>

                <form class="col-auto me-auto" role="search">
                    <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ gravatar(app.user.email) }}" alt="{{ app.user.username }}" width="32" height="32" class="rounded-circle" />
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li>

                            <span class="dropdown-header">
                                <b>{{ app.user.username }}</b><br />
                                {{ app.user.email }}
                            </span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                &nbsp;
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
